@CHARSET "UTF-8";

body {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

a {
	cursor: pointer;
}

section {
	width: 1320px;
	margin: 0 auto;
}


/********** club-header **********/
header {
	height: 49px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 1320px;
	padding: 0 10px;
}
#mini-logo-container {
	margin: 0 auto 0 0;
}

#mini-logo-container img:first-of-type {
	height: 30px;
}
#mini-logo-container img:last-of-type {
	height: 20px;
}

header #header-nav-container {
	float: right;
	position: absolute;
}

header #header-nav-container a {
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 15px;
	color: #666;
	margin-left: 10px;
}

header #header-nav-container span {
	font-size: 15px;
	color: #666;
	margin-left: 10px;
}




/********** footer **********/
footer {
	height: 100px;
}





/************* 클럽 레이아웃 업데이트 **************/
#layout-update {
	background-color: lightyellow;
}
#layout-update h5, #layout-update h3 {
	margin: 10px 20px;
	font-weight: bold;
}

.lsc {
	background-color: #ddd;
	width: 1280px;
	margin: 0 20px;
	padding: 20px;
	border-radius: 5px;
	display: flex;
}
.lscl {
	background-color: white;
	width: 760px;
	border-radius: 5px;
}
.lscr {
	background-color: white;
	width: 460px;
	border-radius: 5px;
	margin-left: 20px;
}
#layout-select-container {
	height: 700px;
}
#layout-select-container-left,
#layout-select-container-right {
	height: 660px;
}

#layout-select-container-left > div {
	background-color: pink;
	width: 360px;
	height: 540px;
	margin: 60px;
}
#color-select-continer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#color-select-continer > div:last-of-type {
	margin-right: 20px;
	height: 40px;
}
#color-select-continer > div > label {
	margin: 0 20px;
}

.submit-box {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}
.submit-box > * {
	margin-left: 15px;
}









