@CHARSET "UTF-8";

body {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

section {
	width: 1320px;
	margin: 0 auto;
}


/********** club-header **********/
header {
	height: 49px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 1320px;
	padding: 0 10px;
}
#mini-logo-container {
	margin: 0 auto 0 0;
}

#mini-logo-container img:first-of-type {
	height: 30px;
}
#mini-logo-container img:last-of-type {
	height: 20px;
}

header #header-nav-container {
	float: right;
	position: absolute;
}

header #header-nav-container a {
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 15px;
	color: #666;
	margin-left: 10px;
}

header #header-nav-container span {
	font-size: 15px;
	color: #666;
	margin-left: 10px;
}

/************ club-title *************/
#club-title img {
	width: 1320px;
	margin-bottom: 10px; 
}

#default-title {
	width: 1320px;
	height: 100px;
	background-color: pink;
}


/********** footer **********/
footer {
	height: 100px;
}





/************* 클럽 레이아웃 업데이트 **************/
#update-btn-container {
	width: 800px;
	margin: 20px auto;
}
#layout-update {
	width: 800px;
	margin: 20px auto;
}
h5, h3 {
	margin: 10px 20px;
	font-weight: bold;
}

.lsc {
	background-color: #ddd;
	width: 800px;
	padding: 20px;
	border-radius: 5px;
	display: flex;
}
.lscl {
	background-color: white;
	width: 540px;
	border-radius: 5px;
}
.lscr {
	background-color: white;
	width: 200px;
	border-radius: 5px;
	margin-left: 20px;
}
#layout-select-container {
	height: 700px;
}
#layout-select-container-left,
#layout-select-container-right {
	height: 660px;
}

#layout-select-container-left > div {
	background-color: pink;
	width: 360px;
	height: 540px;
	margin: 40px;
}
#color-select-continer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#color-select-continer > div:last-of-type {
	margin-right: 20px;
	height: 60px;
}
#color-select-continer > div > label {
	margin: 0 20px;
}

.submit-box {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}
.submit-box > * {
	margin-left: 15px;
}

.myProfile1 {
	width: 100px;
	height: 100px;
	border: 2px solid;
	display: flex;
	align-items: center;
    justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	margin: 10px 5px;
}
.myProfile1 > img {
	width: 100px;
	height: 100px;
}
.myProfile2 {
	margin: 10px;
}
.myProfile2 p {
	margin: 0;
	padding-bottom: 10px;
}
.myProfile3 {
	position: absolute;
	transform: translate(5px, 120px);
}
.myProfile3 button {
	margin: 4px;
    width: 110px;
    color: white;
}
#club-page-article {
	width: 1320px;
	display: flex;
	flex-wrap: wrap;
}

#club-info-container {
	width: 260px;
	margin: 0;
}
#club-info-container > span:first-of-type {
	margin: 0 20px;
}

#club-myInfo-container {
	width: 260px;
	height: 190px;
	margin: 5px 20px 0 20px;
	padding: 5px 5px;
	border-top: 3px solid;
	display: flex;
}
#clubLike {
	position: absolute;
    width: 30px;
    height: 28px;
    padding: 0px;
    transform: translateX(250px);
}
#club-total-container {
	width: 260px;
	margin: 0 20px;
	border-top: 3px solid;
}

#club-total-container > div {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
}
#club-total-container > div > a {
	padding: 5px 0;
}

#club-total-container > div:first-of-type > a {
	font-size: 18px;
	font-weight: bold;
}

#club-search-container1 {
	margin: 20px 20px 0 20px;
}

#club-search-container1 > form > input:focus {
	outline: none;
}

#club-search-container1 > form > input {
	width: 210px;
	border: 1px solid;
	border-radius: 2px 0 0 2px;
}

#club-search-container1 > form > button {
	width: 50px;
	margin-left: -11px;
	border: 1px solid;
	border-radius: 0 2px 2px 0;
}


#club-nav-bar {
	border: 2px solid;
	border-radius: 2px;
	display: flex;
	align-items: center;
}
#club-nav-bar ul {
	display: flex;
    height: 40px;
    width: 625px;
    margin: 0 145px;
    align-items: center;
    justify-content: space-between;
}
#club-nav-bar ul li {

}

#club-nav-bar ul li:first-of-type {
	list-style: none;
}


/************** schedule ***************/
#schedule-content-container {
	border: 1px solid #aaa;
	margin: 10px 0;
	border-radius: 2px;
	padding: 10px 40px;
}
#info-wrapper {
	display: flex;
}
#schedule-info {
	font-weight: bold;
	margin: 0 20px;
}
#writer-info > figure {

}
#writer-info > figure > img {
	width: 60px;
	border: 1px solid #aaa;
	border-radius: 50%;
}
#writer-info {
	display: flex;
	padding: 0 20px;
	border-bottom: 1px solid;
}
#writer-info > div {
	margin: 5px 10px;
}

#schedule-content-container2 {
	display: flex;
	margin: 10px;
}
#scc2-left {
	width: 400px;
	margin-right: 14px;
}
#scc2-right {
	width: 804px;
	height: 804px;	
	border: 2px solid;
}
.customOverlay {
	background-color: #ddd;
	font-weight: bold;
	display: none;
	padding: 10px;
	border-radius: 5px;
	transform: translate(-10px, -80px);
}
.accordion .card-header {
	padding: 0;
}
.accordion .card-body {
	border-bottom: 1px solid;
	padding: 15px 20px;
}
#schedule-explain {
	padding: 20px 10px;
}

.dropdown button {
	height: 27px;
    width: 110px;
    padding: 0;
}
#schedule-enroll-form-container {
	position: absolute;
	transform: translate(1090px, 88px);
}
#schedule-enroll-form-container button {
	font-weight: bold;
	font-size: 24px;
	background-color: #2990D0;
	color: white;
}










