@CHARSET "UTF-8";

body {

}

a {
	cursor: pointer;
}

section {
	width: 1320px;
	margin: 0 auto;
}


/********** club-header **********/
header {
	height:100px;
}






/********** footer **********/
footer {
	height: 100px;
}