@charset "UTF-8";

/************ club-title *************/



/********** club-page-article **********/


.container-header {
	margin: 10px 20px 0 20px;
	border-bottom: 1px solid;
}
.container-header > span:first-child {
	font-size: 20px;
	font-weight: bold;
}
.container-header > a:last-child {
	font-size: 16px;
	float: right;	
	font-weight: 600;
}
.container-main > div {
	height: 32px;
	margin: 8px 20px 0 20px;
	border-bottom: 1px solid #ccc;
}
.container-main-gallery > div {
	margin: 8px 20px 0 20px;
}
.container-main-long > div > a:first-of-type {
	display: inline-block;
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-main-short > div > a:first-of-type {
	display: inline-block;
    width: 375px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-main > div > span:first-child {
	font-size: 16px;
	top: -6px;
    position: relative;
}
.container-main > div > span:nth-of-type(3) {
	width: 51px;
	float: right;
	margin: 0 5px;
}
.container-main > div > span:nth-of-type(2),
.container-main > div > a:nth-of-type(2) {
	float: right;
}

.container-main-schedule > div {
	margin: 8px 20px 0 20px;
	border-bottom: 1px solid #ccc;
}
.container-main-schedule > div > a:first-of-type {
	display: inline-block;
    width: 285px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-main-schedule > div > span:first-child {
	font-size: 16px;
	top: -6px;
    position: relative;
}
.container-main-schedule > div > span:nth-of-type(2),
.container-main-schedule > div > span:nth-of-type(3) {
	float: right;
	margin-left: 10px;
}

#club-main-image-container img {
	width:600px;
	height:400px
}


/* 커스텀 */

#club-main-container {
	width: 1000px;
	height: 600px;
	margin: 0 20px 0 0;
	padding-top: 20px;
	border: 5px solid #ccc;
	border-radius: 5px;
}
#club-main-container2 {
	width: 1320px;
	height: 600px;
	margin: 0 20px 0 0;
	padding-top: 20px;
	border: 5px solid #ccc;
	border-radius: 5px;
}

#club-main-image-container {
	display: flex;
	justify-content: center;
} 

#club-main-content-container {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 24px;
}

#club-notice-container {
	width: 1320px;
	height: 241px;
	overflow: hidden;
}

#club-gallery-container {
	width: 660px;
	height: 360px;
	overflow: hidden;
}

.container-main-gallery {
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
}

.img-thumbnail {
	width: 174px;
}

#club-board-container {
	width: 660px;
	height: 961px;
	overflow: hidden;
}

#club-greetings-container {
	width: 660px;
	height: 241px;
	overflow: hidden;
}

#club-reivew-container {
	width: 660px;
	height: 401px;
	overflow: hidden;
}

#mainContent{
    overflow: auto;
    resize: vertical;
    display: flex;
    margin: -3px 399px;
    height: 85px;
    width: 515px;
}
#club-title-update-btn{
	display: flex;
	justify-content: end;
	height: 70px;
    padding: 12px;
}
#club-detail-gallery{
	display: flex;
    margin: 170px;
    width: 1700px;
    flex-wrap: wrap;
}



#gallery-photo {
    height: 295px;
    width: 295px;
}

#gallery-photo-div{
	height: 295px;
    width: 295px;
    margin: 10px;
}
#like-count{
	
	margin-top : 10px;
	position: absolute;
 	z-index: 2; /* 두 번째 요소는 더 위에 위치 */
}



.carousel-item {
	height: 540px;
}
#carouselExampleControls > button {
	width: 2%;
    margin: 4px;
    opacity: 1;
}


/*********** full calendar *************/
#club-schedule-container {
	width: 960px;
    margin: 0px 15px;
}
#club-schedule-container > .container-header {
	position: absolute;
	width: 920px;
}
.fc-toolbar-chunk:nth-of-type(2) {
	transform: translate(77px, 0px);
}
.fc-toolbar-chunk:last-of-type {
	transform: translate(-66px, 0px);
}
.fc-toolbar-chunk:last-of-type button {
	height: 33px;
    width: 48px;
    padding: 0px;
}
.fc-daygrid-day-top {
	height: 23px;
    margin: -5px 0;
}


