@charset "UTF-8";

/* 모달 스타일 */
.modal {
    top: -920px;
}

/* 모달 내용 스타일 */
.modal-body {
    height: 400px;
}

/* 클럽 생성 폼 래퍼 스타일 */
#club-create-form-wrapper {
    margin: 50px auto 100px auto;
    width: 800px;
}

/* 메인 지역 ID 및 주소 검사 스타일 */
.main-area-id-checked, .address-checked {
    padding: 5px;
    margin: 0;
}

/* 메인 지역 ID 및 주소 검사 호버 스타일 */
.main-area-id-checked:hover, .address-checked:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* 태그 컨테이너 스타일 */
#tagContainer {
    display: flex;
    background-color: lightskyblue;
    border-radius: 5px;
}

/* 태그 래퍼 스타일 */
.tagWrapper {
    height: 30px;
    margin: 5px;
    border: 2px solid white;
    position: relative;
    border-radius: 5px;
    display: flex;
}

/* 모달 1 스타일 */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

/* 모달 내용 1 스타일 */
.modal-content1 {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 400px;
}

/* 닫기 버튼 1 스타일 */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* 보기 버튼 스타일 */
.btn_view {
    cursor: pointer;
}

/* 모달 2 스타일 */
.modal2 {
    height: 400px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

/* 모달 내용 2 스타일 */
.modal-content2 {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 400px
}

/* 닫기 버튼 2 스타일 */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* 보기 버튼 스타일 */
.btn_view {
    cursor: pointer;
}
