@charset "UTF-8";

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 2150px;
  margin-top: 60px;
  margin-bottom: 60px;
  background: #ffffff;
  border: solid 4px #DDD;
  border-radius: 20px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  transition: box-shadow 0.3s ease-in-out; 
}
.container:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 470px;
  height: 818px;
  margin-top: 72px;
  margin-bottom: 70px;
}

.header {
  width: 466px;
  height: 94px;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  color: #2990D0;
}

.user-info div {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
  border-bottom: 1px solid #cfcfcf;
  width: 466px;
  height: 80px;
  margin-top: 21px;
}

.user-info #email {
  border-bottom: 1px solid #2990D0;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  height: 23.94px;
  margin-top: 50px;
}

.gender input {
  width: 20px;
  height: 19.95px;
  background: #ebebeb;
  border: 1px solid #2990D0;
}

.gender label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.agree-check {
  width: 454px;
  height: 21.06px;
  margin-top: 52.05px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.loginbtn button {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  width: 470px;
  height: 106px;
  border-top: 1px solid #2990D0;
  font-size: 18px;
  color:  #ffffff;
  background:#2990D0;
  border: 1px solid #2990D0;
  border-radius: 10px;
}


/******/
/* 모달 스타일 */
.modal {
    top: 50px;
}

/* 모달 내용 스타일 */
.modal-body {
    height: 200px;
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    margin-top: 250px;
}

/* 메인 지역 ID 및 주소 검사 스타일 */
.main-area-id-checked, .address-checked {
    padding: 5px;
    margin: 0;
}

/* 메인 지역 ID 및 주소 검사 호버 스타일 */
.main-area-id-checked:hover, .address-checked:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* 태그 컨테이너 스타일 */
#tagContainer {
    display: flex;
    background-color: lightskyblue;
    border-radius: 5px;
}

/* 태그 래퍼 스타일 */
.tagWrapper {
    height: 30px;
    margin: 5px;
    border: 2px solid white;
    position: relative;
    border-radius: 5px;
    display: flex;
}

/* 모달 1 스타일 */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

/* 모달 내용 1 스타일 */
.modal-content1 {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 400px;
    overflow: scroll;
}

/* 닫기 버튼 1 스타일 */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* 보기 버튼 스타일 */
.btn_view {
    cursor: pointer;
}

/* 모달 2 스타일 */
.modal2 {
    height: 400px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0,0,0,0.7);
}

/* 모달 내용 2 스타일 */
.modal-content2 {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 400px
}

/* 닫기 버튼 2 스타일 */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* 보기 버튼 스타일 */
.btn_view {
    cursor: pointer;
}
