
        button:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 1990px;
  margin-top: 130px;
  margin-bottom: 60px;
  background: #ffffff;
  border: solid 4px #DDD;
  border-radius: 20px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  transition: box-shadow 0.3s ease-in-out; 
}
.container:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 470px;
  height: 818px;
  margin-top: 72px;
  margin-bottom: 70px;
}

.header {
  width: 466px;
  height: 94px;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  color: #2990D0;
}

.user-info div {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
  border-bottom: 1px solid #cfcfcf;
  width: 466px;
  height: 80px;
  margin-top: 21px;
}

.user-info #email {
  border-bottom: 1px solid #2990D0;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  height: 23.94px;
  margin-top: 50px;
}

.form-control input {
  width: 20px;
  height: 19.95px;
  background: #ebebeb;
  border: 1px solid #2990d0;
}


.agree-check {
  width: 454px;
  height: 21.06px;
  margin-top: 52.05px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.enrollbtn button {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 텍스트를 수직 방향 가운데 정렬 */
  align-items: center; /* 텍스트를 수평 방향 가운데 정렬 */
  margin-top: 25x;
  width: 470px;
  height:70px
  border-top: 1px solid #2990D0;
  font-size: 30px;
  color: #ffffff;
  background: #2990D0;
  border: 1px solid #2990D0;
  border-radius: 10px;
}

.btn-email {
  background: #2990D0;
  color: #ffffff;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #2990D0; 
   
}
/******/
.modal {
    top: 20px;
}

.modal-body {
    height: 200px;
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    margin-top: 250px;
}

.main-area-id-checked, .address-checked {
    padding: 5px;
    margin: 0;
}

.main-area-id-checked:hover, .address-checked:hover {
    background-color: #ddd;
    cursor: pointer;
}

#tagContainer {
    display: flex;
    background-color: lightskyblue;
    border-radius: 5px;
}

.tagWrapper {
    height: 30px;
    margin: 5px;
    border: 2px solid white;
    position: relative;
    border-radius: 5px;
    display: flex;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content1 {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 400px;
    overflow: scroll;
}

/* 닫기 버튼 1 스타일 */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* 보기 버튼 스타일 */
.btn_view {
    cursor: pointer;
}


.disabled-button {
  opacity: 0.7; /* 오파시티 설정 */
  cursor: not-allowed; /* 마우스 커서를 기본으로 변경 */
}
div#memberId-container { position:relative; padding:0px; }
div#nickname-container { position:relative; padding:0px; }
div#name-container { position:relative; padding:0px; }
div#email-container { position:relative; padding:0px; }
div#password-container { position:relative; padding:0px; }
div#passwordConfirmation-container { position:relative; padding:0px; }
span.guide { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.nickname { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.name { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.email { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.password { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.passwordConfirmation { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
#phone-container {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 정렬을 가운데로 조정 */
}

#phone-container {
  display: flex; /* 입력 필드를 가로로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
}

#phone-container input {
  margin-right: 5px; /* 입력 필드 사이 간격 설정 */
}

.phone.error {
  display: block; /* 블록 요소로 표시하여 아래에 나타나도록 함 */
  margin-top: 5px; /* 원하는 간격 설정 */
}
.phone.error{
	display: none;
}

/* 전체 동의 영역 스타일 */
.agreement {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
    height: 340px;
    background-color: #e9ecef;
}

/* 전체 동의 제목 스타일 */
.sub_title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #2990D0; /* 아래쪽에 1px 두께의 선 추가 */
  display: inline-block; /* 선을 추가하기 위해 inline-block으로 설정합니다. */
  padding-bottom: 5px; /* 선 아래 여백 조절 (선택 사항) */
}

.sub_title1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;

}

/* 전체 동의 체크박스 및 라벨 스타일 */
.all_check_area {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    margin-top: -60px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.all_check_area input[type="checkbox"] {
  margin-right: 10px;
}

/* '내용보기' 링크 스타일 */
.btn_view {
  color: gray;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
}

/* 개인정보 수집 dl 스타일 */
.agreement dl {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.agreement dl dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.agreement dl dd {
  margin-bottom: 15px;
}

/* 필수 항목 텍스트 스타일 */
.agreement .check label {
  font-weight: bold;
}
/* email_group 클래스에 대한 스타일 */
.email_group {
    display: flex; /* 내부 요소를 가로로 나란히 배치하기 위해 Flex 사용 */
}



.form-control#email {
    width: 370px; /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
    margin-bottom: 10px;
}
.form-control#floatingInputDisabled3 {
    width: 370px; /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
}
/* fadeIn.first 내부 요소를 가로로 나란히 표시 */
.fadeIn.first {
	display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3px;
}


/* 아이디 라벨 스타일 */
.fadeIn.first label {
    font-size: 16px; /* 라벨의 텍스트 크기 조절 */
    color: #333; /* 라벨 텍스트 색상 설정 */
    margin-right: 30px; /* 라벨과 입력 필드 사이 간격 설정 */
}

/* 아이디 입력 필드 스타일 */
.fadeIn.first input[type="text"] {
    flex: 1; /* 남은 공간을 모두 사용하여 확장 */
    font-size: 16px; /* 입력 필드 텍스트 크기 조절 */
}
/* 아이디 입력 필드 너비 조정 */
#memberId {
    width: 370px; /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
    font-size: 16px; /* 입력 필드 텍스트 크기 조절 */
}
#password{
    width: 370px;  /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
    font-size: 16px; /* 입력 필드 텍스트 크기 조절 */
}
#passwordConfirmation{
    width: 370px; /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
    font-size: 16px; /* 입력 필드 텍스트 크기 조절 */
}
#name{
    width: 370px;  /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
    font-size: 16px; /* 입력 필드 텍스트 크기 조절 */
}
#nickname{
    width:  370px;  /* 원하는 너비로 설정 (예: 100%는 부모 요소의 너비에 맞게 확장) */
    font-size: 16px; /* 입력 필드 텍스트 크기 조절 */
}

/* .fadeIn.first 클래스 내부의 라디오 버튼에만 적용되는 CSS */
.fadeIn.first input[type="radio"][name="gender"] {
    /* 라디오 버튼 스타일 (숨김) */
    display: none;
}

.fadeIn.first input[type="radio"][name="gender"] + label {
    /* 라디오 버튼 레이블 스타일 */
    margin-right: 10px; /* 라디오 버튼 레이블 간의 간격 조정 */
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.fadeIn.first input[type="radio"][name="gender"]:checked + label {
    /* 선택된 라디오 버튼 스타일 */
    background-color: #2990D0;
    color: #fff;
    border-color: #2990D0;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 60px;
}

