@CHARSET "UTF-8";

/* #2990D0 */
body {
	font-family: 'IBM Plex Sans KR', sans-serif;
}
/* 수직 스크롤바 */
::-webkit-scrollbar {
	width: 12px; /* 스크롤바 너비 */
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* 스크롤바 색상 */
::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 5px;
}

/* 마우스 hover 시 스크롤바 색상 */
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
	border-radius: 5px;
}

/********** 전체컨테이너 **********/
section {
	width: 1320px;
	margin: 0 auto;
}

/********** header **********/
header {
	height: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 1320px;
	padding: 0 10px;
}

#main-logo-container {
	margin: 0 auto;
}

#main-logo {
	height: 170px;
	margin-top: 20px;
}

header #header-nav-container {
	float: right;
	top: 130px;
	position: absolute;
}

header #header-nav-container a {
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 15px;
	color: #666;
	margin-left: 10px;
}

header #header-nav-container span {
	font-size: 15px;
	color: #666;
	margin-left: 10px;
}

/********** main-page-sec **********/
#main-page-sec {
	width: 1320px;
	margin: 0 auto;
}

#banner-and-info-container {
	display: flex;
	padding: 10px;
}

/************ main-banner *************/
#main-banner {
	width: 960px;
	border-radius: 10px;
	box-sizing: border-box;
	border: 1px solid #aaa;
}

.carousel-inner {
	border-radius: 10px;
}

#main-banner img {
	width: 960px;
	height: 400px;
}

/********** my-club-info ***********/
#my-club-info {
	background-color: lightpink;
	width: 320px;
	margin-left: 20px;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-radius: 10px;
}
.myInfo {
	height: 220px;
	padding: 10px;
	display: flex;
	border-bottom: 1px solid #aaa;
}
.myProfile {
	width: 100px;
	height: 100px;
}
.myProfile > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/********** footer **********/
footer {
	height: 100px;
}

section .posts .card{
	margin: 9px; /* 카드들 사이의 간격을 설정합니다 */
    flex-basis: calc(22% - 45px); /* 카드의 초기 크기를 설정합니다 */
	box-sizing: border-box;
	position: relative;
	text-decoration: none;
	display: inherit;
	width: 20%;
	color: #051619;
	border: 1px solid #051619;
	border-width: 0 1px 1px 2px;
	cursor: pointer;
	height : 460px;
}
section .posts2 .card{
	margin: 9px; /* 카드들 사이의 간격을 설정합니다 */
    flex-basis: calc(22% - 45px); /* 카드의 초기 크기를 설정합니다 */
	box-sizing: border-box;
	position: relative;
	text-decoration: none;
	display: inherit;
	width: 20%;
	color: #051619;
	border: 1px solid #051619;
	border-width: 0 1px 1px 2px;
	cursor: pointer;
	height : 460px;
}
section .posts3 .card{
	margin: 9px; /* 카드들 사이의 간격을 설정합니다 */
    flex-basis: calc(22% - 45px); /* 카드의 초기 크기를 설정합니다 */
	box-sizing: border-box;
	position: relative;
	text-decoration: none;
	display: inherit;
	width: 20%;
	color: #051619;
	border: 1px solid #051619;
	border-width: 0 1px 1px 2px;
	cursor: pointer;
	height : 460px;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    width: 100%;
    height: 50%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    height: 30%;
}
#main-page-sec {
    height: fit-content;
}


section .posts {
	/* background-color: coral; */
	display: flex;
	flex-wrap: wrap;
	position: relative;
	border-color: #051619;
	border-style: solid;
	border-width: 0 0 0 0px;
	z-index: 10px;
}
section .posts2 {
	/* background-color: coral; */
	display: flex;
	flex-wrap: wrap;
	position: relative;
	border-color: #051619;
	border-style: solid;
	border-width: 0 0 0 0px;
	z-index: 10px;
}
section .posts3 {
	/* background-color: coral; */
	display: flex;
	flex-wrap: wrap;
	position: relative;
	border-color: #051619;
	border-style: solid;
	border-width: 0 0 0 0px;
	z-index: 10px;
}


#header-nav-container button {
  padding: 5px 10px;
  background-color: #3498db;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
/*버튼*/
#header-nav-container button:hover {
  background-color: #2980b9;
}

/*프로필*/
figure.snip0045 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 880px;
  background: #ffffff;
  color: #000000;
  
}

figure.snip0045 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip0045 > img {
 
  border-radius: 50%;
  border: 4px solid #dcdcdc;
  position: relative;
  z-index: 1;
}

figure.snip0045 figcaption {
  padding: 10px 20px 10px 10px;
  position: absolute;
  right: 0;
  width: 65%;
}

figure.snip0045 figcaption h2,
figure.snip0045 figcaption p {
  margin: 0;
  text-align: inherit;
  padding: 10px 0;
  width: 100%;
}

figure.snip0045 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.snip0045 figcaption h2 span {
  font-weight: 800;
}

figure.snip0045 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}

figure.snip0045 figcaption .icons {
  width: 100%;
  text-align: inherit;
}

figure.snip0045 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}

figure.snip0045 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.snip0045 figcaption a:hover {
  opacity: 0.8;
}

figure.snip0045 .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
  display : none;
}

figure.snip0045.blue .position {
  background: #20638f;
}

figure.snip0045.red .position {
  background: #2990D0;
}

figure.snip0045.yellow .position {
  background: #bf6516;
}

figure.snip0045.green .position {
  background: #1e8449;
}

.hide {
    text-decoration: none;
}

/*회원 좋아요*/
.profile-card2 {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 280px;
}

.liked-members-title {
	background-color: #3498db;
	color: white;
	padding: 15px;
	text-align: center;
}

.liked-members-title h2 {
	font-size: 28px;
	margin: 0;
}

.liked-members-list {
	max-height: 280px; /* Adjust the height as needed */
	overflow-y: auto;
}

.liked-members-list ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	font-size: x-large;
}

.liked-members-list li {
	margin-bottom: 5px;
	color: #333;
}

.liked-members-list a {
	color: #007bff;
	text-decoration: none;
}
.with-flex {
	display: flex;
}

.container2 {
	margin-left: 150px;
}

/* 여기부터 준한이 css 시도 */
.card {
	height: 400px;
	width: 350px;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	transition: all 0.3s ease-in;
}


@keyframes cardHover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.card:hover {
    animation: cardHover 0.3s forwards;
}

@keyframes cardReturn {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.card:not(:hover) {
    animation: cardReturn 0.3s forwards;
}

