<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dagachi.app.club.repository.ClubRepository">

	<select id="boardList" resultType="clubBoard">
		select
		*
		from
		club_board
		<where>
			<if test="clubId !=null">
				club_id= #{clubId}
			</if>
			<if test="type != 0">
				and type=#{type}
			</if>
		</where>
		order by
		board_id desc
	</select>


	<select id="searchBoard" resultType="clubBoard">
		select
		*
		from
		club_board
		<where>
			<if test="clubId != null">
				and club_id like #{clubId}
			</if>
			<if test="searchType != null">
				and ${searchType} like '%' || #{searchKeyword} || '%'
			</if>
			<if test="type != 0">
				and type= #{type}
			</if>
		</where>
		order by
		board_id desc
	</select>
	
	<select id="searchBoards" resultType="clubBoard">
		select
			*
		from
			club_board
		<where>
			<if test="clubId != null">
					and club_id like #{clubId}
			</if>
			<if test="searchType != null">
					and ${searchType} like '%' || #{searchKeyword} || '%'
			</if>
			<if test="type != 0">
					and type= #{type}
			</if>
			</where>
		order by
			board_id desc

	</select>

	<select id="boardSize" resultType="int">
		select
		count(*)
		from
			(
			select
			*
			from
			club_board
			<where>
				<if test="clubId !=null">
					club_id= #{clubId}
				</if>
				<if test="type != 0">
					and type=#{type}
				</if>
			</where>
			order by
			board_id desc
		)
	</select>



	<select id="clubSearch">
		select
			c.*,
			cp.club_id profile_club_id,
			original_filename,
			renamed_filename,
			cp.created_at profile_created_at,
			(select count(*) from club_member cm where cm.club_id = c.club_id) member_count
		from
			club c left join club_profile cp
				on c.club_id = cp.club_id
		where
			<if test="inputText != ''">
				club_name like '%' || #{inputText} || '%'
				or
				category like '%' || #{inputText} || '%'
				or
				activity_area like '%' || #{inputText} || '%'
				and
			</if>
			status = 'Y'
		order by
			c.created_at desc
	</select>

	<select id="searchClubWithFilter">
		select
			c.*,
			cp.club_id profile_club_id,
			original_filename,
			renamed_filename,
			cp.created_at profile_created_at,
			(select count(*) from club_member cm where cm.club_id = c.club_id) member_count
		from
			club c left join club_profile cp
				on c.club_id = cp.club_id
		<where>
			<if test="inputText != ''">
				(club_name like '%' || #{inputText} || '%'
				or
				category like '%' || #{inputText} || '%'
				or
				activity_area like '%' || #{inputText} || '%')
			</if>
			<if test="area != null and area != ''">
				and activity_area like '%' || #{area} || '%'
			</if>
			<if test="category != null and category != ''">
				and category = #{category}
			</if>
		</where>
		order by
			c.created_at desc
	</select>


	<select id="adminClubList">
		select
		*
		from
		club
		<if test="keyword != null and keyword != ''">
			where
			${column} like '%' || #{keyword} || '%'
		</if>
		order by
		created_at desc
	</select>

	<select id="findClubByDistance" parameterType="java.util.Set" >
	    select
			c.*,
			cp.club_id profile_club_id,
			original_filename,
			renamed_filename,
			cp.created_at profile_created_at
		from
			club c left join
			club_profile cp
			on c.club_id = cp.club_id
	    where 
	    <foreach item="zone" collection="zoneSet" separator="or" open="(" close=")">
	       activity_area like '%' || #{zone}
	    </foreach>
	    <if test="category != '' and category != null">
	    	and category = #{category}
	    </if>
	    order by
	    	DBMS_random.random
	</select>
	
	<select id="findClubDetailByDomainAndMemberId">
		SELECT
		    c.club_name,
		    c.created_at,
		    l.*,
		    cm.member_count,
		    cm_role.member_role
		FROM
		    club c
		JOIN
		    club_layout l
		    ON c.club_id = l.club_id
		LEFT JOIN (
		    SELECT
		        club_id,
		        COUNT(*) AS member_count
		    FROM
		        club_member
		    WHERE
		        club_id = (SELECT club_id FROM club WHERE domain = #{domain})
		    GROUP BY
		        club_id
		) cm
		ON
		    c.club_id = cm.club_id
		LEFT JOIN (
		    SELECT
		        club_id,
		        club_member_role AS member_role
		    FROM
		        club_member
		    WHERE
		        member_id = #{memberId}
		        AND club_id = (SELECT club_id FROM club WHERE domain = #{domain})
		) cm_role
		ON
		    c.club_id = cm_role.club_id
		WHERE
		    c.domain = #{domain}
	</select>
	
	<select id="findBoardAndImageByMap">
		SELECT
			*
		FROM (
		    SELECT 
		    	cb.*,
           		(SELECT nickname FROM member WHERE member_id = cb.writer) AS nickname
		    FROM 
		    	club_board cb
		    LEFT JOIN 
		    	club_board_attachment ca
		    ON 
		    	cb.board_id = ca.board_id
		    WHERE 
		    	(ca.thumbnail = 'Y' OR ca.thumbnail IS NULL)
		    AND 
		    	club_id = (
		        	SELECT club_id
		        	FROM club
		        	WHERE domain = #{domain}
		    	)
		    AND 
		    	type = #{type}
		    ORDER BY 
		    	cb.board_id DESC
		)
		WHERE ROWNUM &lt;= #{length}
	</select>
	
</mapper>
